**Задание по Python**

In [ ]:
import pandas as pd
data1=pd.read_csv('/content/testing_data_new(1).csv')
data2=pd.read_csv('/content/testing_data_old(1).csv')

In [ ]:
data1

,ID,birthdate,blacklist,regdate,lastdepdate,depcount,sumdepamount,avgdepamount,balance,bonusbalance,...,lastunsuccpaymentprovider,unsuccessattempcount,lastonlinedate,product,favoritegame,favoritesport,sportbetcount,lastsportbetdate,platform,updated
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.40,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
1,381,NaN,False,2023-01-30 08:20:31,2023-03-13 09:30:59,4,5900.0,1475.0000,9.00,0.0,...,Card USD,0,2023-04-05 09:32:18,slots,7 & Hot Fruits,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
2,592,NaN,False,2023-01-30 08:42:15,2023-05-04 16:37:44,2,2700.0,1350.0000,13.30,0.0,...,NaN,2,2023-05-05 03:52:38,crash,Penalty Shoot Out,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
3,1165,NaN,False,2023-01-30 09:07:11,2023-03-02 09:31:27,1,1200.0,1200.0000,17.50,0.0,...,NaN,1,2023-03-02 16:02:26,slots,Squish,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
4,1703,NaN,False,2023-01-30 09:31:09,2023-02-01 17:01:29,1,2400.0,2400.0000,2400.00,0.0,...,Card USD,0,NaN,NaN,NaN,NaN,0,NaN,NaN,2023-06-30 13:59:05.709376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73651,1129477586,NaN,False,2023-06-30 09:52:34,2023-06-30 09:55:40,1,1500.0,1500.0000,18.25,0.0,...,NaN,0,2023-06-30 10:06:05,slots,Aztec Fire,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
73652,1129519826,NaN,False,2023-06-30 09:58:36,2023-06-30 10:19:04,1,1500.0,1500.0000,3500.00,0.0,...,NaN,0,2023-06-30 10:16:34,NaN,NaN,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
73653,1129529554,NaN,False,2023-06-30 09:59:51,2023-06-30 10:01:24,1,2000.0,2000.0000,0.00,0.0,...,NaN,0,2023-06-30 10:05:38,slots,777 Gems: Respin,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
73654,1129582546,NaN,False,2023-06-30 10:07:10,2023-06-30 10:26:22,1,1500.0,1500.0000,1500.00,0.0,...,NaN,0,2023-06-30 10:27:53,NaN,NaN,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
73655,1129648850,NaN,False,2023-06-30 10:15:18,2023-06-30 10:17:01,1,8000.0,8000.0000,1180.00,0.0,...,NaN,6,2023-06-30 10:15:18,slots,2020 Hit Slot,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376

In [ ]:
data2

,ID,birthdate,blacklist,regdate,lastdepdate,depcount,sumdepamount,avgdepamount,balance,bonusbalance,...,lastunsuccpaymentprovider,unsuccessattempcount,lastonlinedate,product,favoritegame,favoritesport,sportbetcount,lastsportbetdate,platform,updated
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.40,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
1,381,NaN,False,2023-01-30 08:20:31,2023-03-13 09:30:59,4,5900.0,1475.0000,9.00,0.0,...,Card USD,0,2023-04-05 09:32:18,slots,7 & Hot Fruits,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
2,592,NaN,False,2023-01-30 08:42:15,2023-05-04 16:37:44,2,2700.0,1350.0000,13.30,0.0,...,NaN,2,2023-05-05 03:52:38,crash,Penalty Shoot Out,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
3,1165,NaN,False,2023-01-30 09:07:11,2023-03-02 09:31:27,1,1200.0,1200.0000,17.50,0.0,...,NaN,1,2023-03-02 16:02:26,slots,Squish,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
4,1703,NaN,False,2023-01-30 09:31:09,2023-02-01 17:01:29,1,2400.0,2400.0000,2400.00,0.0,...,Card USD,0,NaN,NaN,NaN,NaN,0,NaN,NaN,2023-06-30 12:51:49.013413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73641,1128997074,NaN,False,2023-06-30 08:40:26,2023-06-30 08:53:04,1,1740.0,1740.0000,0.18,0.0,...,NaN,1,2023-06-30 08:53:40,crash,Aviator,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73642,1129065682,NaN,False,2023-06-30 08:49:52,2023-06-30 09:00:29,4,11000.0,2750.0000,11000.00,0.0,...,NaN,0,2023-06-30 09:00:10,NaN,NaN,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73643,1129197266,NaN,False,2023-06-30 09:10:05,2023-06-30 09:19:02,1,1500.0,1500.0000,1500.00,0.0,...,Card USD,0,2023-06-30 09:19:15,NaN,NaN,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73644,1129205970,NaN,False,2023-06-30 09:11:29,2023-06-30 09:13:57,1,1500.0,1500.0000,1285.00,0.0,...,NaN,0,2023-06-30 09:20:08,crash,Space XY,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73645,1129288658,NaN,False,2023-06-30 09:24:38,2023-06-30 09:26:48,1,1500.0,1500.0000,1370.40,0.0,...,Card USD,0,2023-06-30 09:33:33,crash,Aviator,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413

Посмтрим значения id 196 у старого и нового df

In [ ]:
data2[data2['ID']==196]

,ID,birthdate,blacklist,regdate,lastdepdate,depcount,sumdepamount,avgdepamount,balance,bonusbalance,...,lastunsuccpaymentprovider,unsuccessattempcount,lastonlinedate,product,favoritegame,favoritesport,sportbetcount,lastsportbetdate,platform,updated
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.4,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413

In [ ]:
data1[data1['ID']==196]

,ID,birthdate,blacklist,regdate,lastdepdate,depcount,sumdepamount,avgdepamount,balance,bonusbalance,...,lastunsuccpaymentprovider,unsuccessattempcount,lastonlinedate,product,favoritegame,favoritesport,sportbetcount,lastsportbetdate,platform,updated
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.4,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376

Видим столбец updated отличаются даты. По условию задачи оставляем все данные старого,а если в новом есть изминения то заменяем.

Склеим наши датафреймы

In [ ]:
frames= [data1,data2]
result = pd.concat(frames)

In [ ]:
result

,ID,birthdate,blacklist,regdate,lastdepdate,depcount,sumdepamount,avgdepamount,balance,bonusbalance,...,lastunsuccpaymentprovider,unsuccessattempcount,lastonlinedate,product,favoritegame,favoritesport,sportbetcount,lastsportbetdate,platform,updated
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.40,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
1,381,NaN,False,2023-01-30 08:20:31,2023-03-13 09:30:59,4,5900.0,1475.0000,9.00,0.0,...,Card USD,0,2023-04-05 09:32:18,slots,7 & Hot Fruits,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
2,592,NaN,False,2023-01-30 08:42:15,2023-05-04 16:37:44,2,2700.0,1350.0000,13.30,0.0,...,NaN,2,2023-05-05 03:52:38,crash,Penalty Shoot Out,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
3,1165,NaN,False,2023-01-30 09:07:11,2023-03-02 09:31:27,1,1200.0,1200.0000,17.50,0.0,...,NaN,1,2023-03-02 16:02:26,slots,Squish,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
4,1703,NaN,False,2023-01-30 09:31:09,2023-02-01 17:01:29,1,2400.0,2400.0000,2400.00,0.0,...,Card USD,0,NaN,NaN,NaN,NaN,0,NaN,NaN,2023-06-30 13:59:05.709376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73641,1128997074,NaN,False,2023-06-30 08:40:26,2023-06-30 08:53:04,1,1740.0,1740.0000,0.18,0.0,...,NaN,1,2023-06-30 08:53:40,crash,Aviator,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73642,1129065682,NaN,False,2023-06-30 08:49:52,2023-06-30 09:00:29,4,11000.0,2750.0000,11000.00,0.0,...,NaN,0,2023-06-30 09:00:10,NaN,NaN,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73643,1129197266,NaN,False,2023-06-30 09:10:05,2023-06-30 09:19:02,1,1500.0,1500.0000,1500.00,0.0,...,Card USD,0,2023-06-30 09:19:15,NaN,NaN,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73644,1129205970,NaN,False,2023-06-30 09:11:29,2023-06-30 09:13:57,1,1500.0,1500.0000,1285.00,0.0,...,NaN,0,2023-06-30 09:20:08,crash,Space XY,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413
73645,1129288658,NaN,False,2023-06-30 09:24:38,2023-06-30 09:26:48,1,1500.0,1500.0000,1370.40,0.0,...,Card USD,0,2023-06-30 09:33:33,crash,Aviator,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413

Посмтрим на 196 id. Должно быть 2 записи

In [ ]:
result[result['ID']==196]

,ID,birthdate,blacklist,regdate,lastdepdate,depcount,sumdepamount,avgdepamount,balance,bonusbalance,...,lastunsuccpaymentprovider,unsuccessattempcount,lastonlinedate,product,favoritegame,favoritesport,sportbetcount,lastsportbetdate,platform,updated
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.4,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.4,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 12:51:49.013413

У нас есть старая и новая запась. Удалим дубликаты по id при этом оставляя 1 запись

In [ ]:
result = result.drop_duplicates(subset=['ID'], keep='first')

Результат должен быть 1 запись с новой датой

In [ ]:
result[result['ID']==196]

,ID,birthdate,blacklist,regdate,lastdepdate,depcount,sumdepamount,avgdepamount,balance,bonusbalance,...,lastunsuccpaymentprovider,unsuccessattempcount,lastonlinedate,product,favoritegame,favoritesport,sportbetcount,lastsportbetdate,platform,updated
0,196,NaN,False,2023-01-30 08:06:52,2023-03-20 18:49:30,3,37300.0,12433.3333,4.4,0.0,...,Card USD,0,2023-04-21 09:12:13,slots,Max Miner Mobile,NaN,0,NaN,mobile,2023-06-30 13:59:05.709376

**Задание SQL**

1) Ваша лизинговая компания продала 1000 автомобилей. Результатом стало появление таблицы со следующими полями: contract_id, brand (марка автомобиля), model (модель автомобиля), sum (доход с авто), int (начисленные проценты). Напишите запросы, которые отвечают на следующие вопросы:

Создадим тестовые данные и зальем в sql

In [ ]:
import numpy as np
import pandas as pd
import random
import datetime
#фиксация_времени
np.random.seed(42)
random.seed(42)


#функция генерации дат
def generate_date():
  year = random.randint(2022, 2023)
  month = random.randint(1, 12)
  day = random.randint(1, 28)
  return datetime.date(year, month, day).strftime('%d.%m.%Y')


n= 10_00
data = {'contract_id':[n for n in range(1,n+1)],
        'sum':np.random.exponential(100,size = n)+1,
        'int':np.round(np.random.normal(10, 1,size = n)),
        'model':random.choices(['sedan','SUV','hatchback'], k=n),
        'brand':random.choices(['BMW', 'Mercedes', 'Tayota', 'KIA'],k=n),
        'date':[generate_date()for _ in range(n)]
        }

df = pd.DataFrame(data)
#конвертация даты в дату
df['date'] = pd.to_datetime(df['date']).dt.date

#загрузка в базу
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://puthfsog:rWoXSOMRzMd75vudCzDqgnBrY6L7Nezd@cornelius.db.elephantsql.com/puthfsog')
df.to_sql('data', engine, if_exists='append', method='multi', index=False)

In [ ]:
def select_pg(sql):
  return pd.read_sql(sql,engine)

In [ ]:
sql = '''SELECT * FROM data'''

In [ ]:
select_pg(sql)

     contract_id         sum   int      model     brand        date
0              1   47.926809  10.0        SUV       BMW  2022-11-17
1              2  302.012143   9.0      sedan    Tayota  2022-07-10
2              3  132.674569  10.0      sedan    Tayota  2023-01-18
3              4   92.294255  11.0      sedan       KIA  2022-11-22
4              5   17.962487  11.0  hatchback  Mercedes  2023-09-16
..           ...         ...   ...        ...       ...         ...
995          996   10.605073   9.0      sedan  Mercedes  2023-08-10
996          997  250.269984   9.0        SUV    Tayota  2023-09-28
997          998   15.713045  10.0        SUV    Tayota  2022-07-04
998          999  301.049065  10.0  hatchback  Mercedes  2022-01-07
999         1000   60.060101   9.0  hatchback  Mercedes  2023-08-27

[1000 rows x 6 columns]

a) Какое авто покупают чаще всего?

In [ ]:
sql = '''SELECT COUNT(*),model,brand
FROM data
GROUP BY 2,3
ORDER BY 1 DESC
LIMIT 1
'''

In [ ]:
select_pg(sql)

   count model   brand
0    102   SUV  Tayota

b) Какие марка и модель принесли наибольшую процентную выручку?

In [ ]:
sql = '''
SELECT sum(int),model,brand
FROM data
GROUP BY 2,3
ORDER BY 1 DESC
LIMIT 1;'''

In [ ]:
select_pg(sql)

      sum model   brand
0  1048.0   SUV  Tayota

c) В каком месяце было продано больше всего Kia Rio?

*При создании базы не стал создавать модели авто а выбрал тип кузова и в нашем случае вместо KIA RIO будет KIA sedan*

In [ ]:
sql = '''
with base as (SELECT
EXTRACT(MONTH FROM date) as month_sales,
model,brand,SUM(sum)
FROM data
GROUP BY 1,2,3)

SELECT month_sales,model,brand,sum
FROM base
WHERE brand = 'KIA' AND model ='sedan'
LIMIT 1
'''

In [ ]:
select_pg(sql)

   month_sales  model brand          sum
0          9.0  sedan   KIA  1310.623993

d) Выберите 27 значение по доходности из этого списка.

In [ ]:
sql = '''
with base as (SELECT
contract_id,sum,int,model,brand,date,
int/sum as yield,ROW_NUMBER() OVER(ORDER BY int/sum DESC) rn
FROM data
ORDER BY 7 DESC
)

select *
from base
where rn = 27
'''

In [ ]:
select_pg(sql)

   contract_id       sum   int      model brand        date     yield  rn
0          875  3.571415  10.0  hatchback   BMW  2022-12-24  2.800011  27

2) У вас имеются две таблицы: costs и sessions.
Схема таблицы costs: date,utm_source, utm_medium, utm_campaign, utm_term,adCost.
Схема таблицы sessions: datetime, ClientID, sessionID,utm_source, utm_medium, utm_campaign, utm_term.
Напишите следующие запросы:

Создадим тестовые данные

In [ ]:
import numpy as np
import pandas as pd
import random
import datetime
#фиксация_времени
np.random.seed(42)
random.seed(42)


#функция генерации дат
def generate_date():
  year = random.randint(2022, 2023)
  month = random.randint(1, 12)
  day = random.randint(1, 28)
  return datetime.date(year, month, day).strftime('%d.%m.%Y')


n=100
costs = {'adCost':np.random.exponential(100,size = n)+1,
         'utm_term': random.choices(['a','b','c','d','e','f'], k=n),
         'utm_campaign':random.choices(['A', 'B', 'C'],k=n),
        'utm_medium':random.choices(['a','b','c'], k=n),
        'utm_source':random.choices(['google', 'yandex', 'facebook'],k=n),
        'date':[generate_date()for _ in range(n)]
                                       }
df1 = pd.DataFrame(costs)
#конвертация даты в дату
df1['date'] = pd.to_datetime(df1['date']).dt.date

Таблица costs

In [ ]:
df1

        adCost utm_term utm_campaign utm_medium utm_source        date
0    47.926809        d            A          c   facebook  07.11.2023
1   302.012143        a            C          c     yandex  06.12.2023
2   132.674569        b            C          c   facebook  17.05.2022
3    92.294255        b            B          a     yandex  27.02.2023
4    17.962487        e            A          b     google  10.11.2022
..         ...      ...          ...        ...        ...         ...
95   69.081473        c            C          b     google  23.06.2023
96   74.967884        f            B          b     yandex  10.05.2023
97   56.781419        d            A          a     yandex  04.04.2023
98    3.574777        f            C          a     yandex  04.06.2022
99   12.416744        f            C          c     yandex  07.04.2022

[100 rows x 6 columns]

In [ ]:
df2=df1.copy()

In [ ]:
#функция гереации id из символов
import numpy as np
import random
import pandas as pd
def generate_user_id():
  charrete = 'abcdefj123456789'
  return ''.join(random.choice(charrete) for _ in range (15))

n=100
sessions = {'datetime':np.random.exponential(100,size = n)+1,
         'ClientID': [generate_user_id() for _ in range(n//2)]*2,
         'sessionID': np.random.randint(1,11,size = n)

                                       }
df3 = pd.DataFrame(sessions)
df3 = df3.join(df2)

Таблица sessions

In [ ]:
df3

,datetime,ClientID,sessionID,adCost,utm_term,utm_campaign,utm_medium,utm_source,date
0,4.193368,923dj315f3ae2bb,8,47.926809,d,A,c,facebook,07.11.2023
1,102.172955,3e9da39984fb29d,4,302.012143,a,C,c,yandex,06.12.2023
2,38.739671,c69cbee3c1d7168,1,132.674569,b,C,c,facebook,17.05.2022
3,72.043718,8373bdjj2cf1fcf,8,92.294255,b,B,a,yandex,27.02.2023
4,239.126553,a7893b1338c12j7,4,17.962487,e,A,b,google,10.11.2022
...,...,...,...,...,...,...,...,...,...
95,43.956762,5a53fj49j1eec3d,4,69.081473,c,C,b,google,23.06.2023
96,130.446543,b4e6efff8b75183,4,74.967884,f,B,b,yandex,10.05.2023
97,228.409735,81139j588367fje,1,56.781419,d,A,a,yandex,04.04.2023
98,219.113257,2b95dd3cf28e7c1,8,3.574777,f,C,a,yandex,04.06.2022
99,152.356219,85a7b6516c51a4d,3,12.416744,f,C,c,yandex,07.04.2022

In [ ]:
#загрузка в базу
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://puthfsog:rWoXSOMRzMd75vudCzDqgnBrY6L7Nezd@cornelius.db.elephantsql.com/puthfsog')
df1.to_sql('costs', engine, if_exists='append', method='multi', index=False)
df3.to_sql('sessions', engine, if_exists='append', method='multi', index=False)

In [ ]:
sql = '''SELECT *
FROM sessions'''

In [ ]:
select_pg(sql)

,datetime,ClientID,sessionID,adCost,utm_term,utm_campaign,utm_medium,utm_source,date
0,82.234011,9d598f35ed6d4c3,2,47.926809,d,A,c,facebook,07.11.2023
1,142.319621,86711f96c4j7741,6,302.012143,a,C,c,yandex,06.12.2023
2,30.933414,fc9d84d8f36cd64,9,132.674569,b,C,c,facebook,17.05.2022
3,22.459626,9bcjeaee8368jj4,1,92.294255,b,B,a,yandex,27.02.2023
4,9.784615,3375ca6e3b5ba5d,6,17.962487,e,A,b,google,10.11.2022
...,...,...,...,...,...,...,...,...,...
95,90.224208,538ff3ffef1db4e,8,69.081473,c,C,b,google,23.06.2023
96,57.783125,825fjb45e58f3da,4,74.967884,f,B,b,yandex,10.05.2023
97,416.737430,69e84ea4393e84d,5,56.781419,d,A,a,yandex,04.04.2023
98,17.202569,9bed3a6185c4bj1,4,3.574777,f,C,a,yandex,04.06.2022
99,63.473853,2jac8c6j94b56e7,4,12.416744,f,C,c,yandex,07.04.2022

a) По какому ключевому слову (term) google принес нам наибольшее число посетителей.

In [ ]:
sql = '''SELECT costs.utm_term, costs.utm_source, count("ClientID")
FROM sessions
JOIN costs ON
sessions.utm_campaign = costs.utm_campaign
where costs.utm_source = 'google'
GROUP BY 1,2
ORDER BY 3 DESC
LIMIT 1;'''

In [ ]:
select_pg(sql)

  utm_term utm_source  count
0        b     google    306

b) Найдите все ключевые слова, которые есть в разметке для yandex, но нет в разметке для google и которые приносят больше 20 посетителей в день.

In [ ]:
sql = '''

SELECT costs.utm_term, costs.utm_source, count("ClientID") AS num_client_ids
FROM sessions
JOIN costs ON
sessions.utm_campaign = costs.utm_campaign
where costs.utm_source = 'yandex'
GROUP BY 1,2
HAVING count("ClientID") > 20 AND (costs.utm_term, costs.utm_source) NOT IN (
    SELECT
      costs.utm_term,
      costs.utm_source

    FROM sessions
    JOIN costs
      ON sessions.utm_campaign = costs.utm_campaign
    WHERE
      costs.utm_source = 'google'
    GROUP BY
      costs.utm_term,
      costs.utm_source
    HAVING count("ClientID") > 20
  );'''

In [ ]:
select_pg(sql)

  utm_term utm_source  num_client_ids
0        f     yandex             233
1        e     yandex              69
2        c     yandex             137
3        b     yandex             131
4        d     yandex             248
5        a     yandex              32

*Поидее это лучше выглядит через EXCEPT но что-то тут не работает*

c) Найдите все рекламные кампании (utm_campaign) для facebook, которые принесли 0 пользователей за последнюю неделю.

In [ ]:
sql = '''

SELECT costs.utm_campaign, costs.utm_source,costs.date, count("ClientID") AS num_client_ids
FROM sessions
JOIN costs ON
sessions.utm_campaign = costs.utm_campaign
where costs.utm_source = 'facebook'
GROUP BY 1,2,3
HAVING count("ClientID") >20 AND costs.date BETWEEN '21.06.2023' AND '23.07.2022'

  ;'''

In [ ]:
select_pg(sql)

  utm_campaign utm_source        date  num_client_ids
0            B   facebook  21.06.2023              31
1            C   facebook  23.07.2022              32
2            A   facebook  21.09.2022              37

*Для наглядности оставил > 20 пользователей и диапазон дат своего периода*

**3**

3) Алина и Василий работают в отделе продаж лизинговой компании. Каждый раз, когда компания продает 21 машину, сотруднику, продавшему по итогу на наибольшую сумму, начисляется премия в 50 000 рублей. У Алины и Василия есть два варианта продажи: предложить клиенту 1 автомобиль за 3 млн рублей, 2 автомобиля за 3 млн рублей или 3 автомобиля за 3 млн рублей. Также сотрудники работают с клиентами по очереди. Так получилось, что первый клиент решил обратиться к Василию. Если сотрудники будут действовать рационально, кто в этот раз получит премию? Обоснуйте свой ответ.

Если представить что вероятность продать 1,2,3 машины одинаковая.И смоделировать что первым идет Василий то получим,что Василий получит примию. Соотвественно кто будет первым пойдет работать с клиентом тот и получит премию. А действовать рационально это после получения премия одним работником другой идет первым к клиенту.

**Задание![Тестовое.png]()**

4) Пяти жадным и рациональным лизинговым компаниям государство предложило программу развития бизнеса на 1000 машин, но компании должны сами решить кому и сколько машин достанется. Если 50 % и более голосуют за предложение, то оно принимается. При этом компании из-за своей жадности заранее договорились, что если их не устроит предложение, то компания, высказавшая его, выбывает из голосования и больше не участвует в программе. Каждая компания имеет один голос и разный портфель. Решили, что компании будут высказывать свои предложения по очереди в порядке от наибольшего портфеля до наименьшего. Как в итоге компании разделят машины?

Из  5 компаний 3 должны одобрить.Самое простое что можно предложить это поделить поравну (200 машин каждому). Но компаниям выгодно не одобрять предложение,так как по условию компания которая делает не интересные предложения выбывает и не участвует. Если даже 5 компания предложит вариант себе 100 машин остальным 4 по 225.То они откажутся так как на след.шаге их ждет 250 каждому(1000/4). Выбывает 5 компания. Из  4 компаний  3 должны одобрить.Также 4 компания может предложить простой вариант (250 машин каждому) но даже если 4 компания предложит  себе 100 а остальным по 300.То остальные не согласятся так их ждет на след.шаге 333 машины(1000/3).Выбывает 4 компания. Из 3 компаний 2 должны одобрить. И 3 компания предложит поделить поравну (333 машин каждому). Так как далее вариантов нет с условием более 50% за принятия условия.
Соотвественное последние 3 компании с наименьшим партфелем поделят поровну 1000 машин.